body {
background-color:white;
color:#666666;
font-family:Verdana,Lucida,Arial,serif;
font-size: 90%;
padding: 0;
margin: 1em auto;
width: 900px;
}

img {
border:medium none;
}

div#header,
div#footer {
background-color:white;
overflow:hidden;
clear: both;
}

div#footer {
border-top:1px solid grey;
height:40px;
padding:8px 0 0 0;
text-align:center;
}

div#footer .poweredby {
line-height: 1.5em;
}

h1.apartment_name {
display: inline-block;
float: left;
margin: 0;
}

ul#languages {
list-type: none;
display: inline-block;
float: right;
margin: 0;
}

ul#languages li {
display: inline-block;
width: 30px;
height: 22px;
background-repeat: no-repeat;
background-position: 0 4px;
}

div#languages {
display: inline-block;
float: right;
margin: 0;
}

div#languages span.language a {
display: inline-block;
width: 30px;
height: 22px;
background-repeat: no-repeat;
background-position: 0 4px;
}

ul#languages li.hu,
span.language a.hu {
background-image:url(/midgardmvc-static/eu_urho_apartments/icons/flags/HU.gif);
}

ul#languages li.en,
span.language a.en {
background-image:url(/midgardmvc-static/eu_urho_apartments/icons/flags/GB.gif);
}

ul#languages li.bg,
span.language a.bg {
background-image:url(/midgardmvc-static/eu_urho_apartments/icons/flags/BG.gif);
}


ul.sizes li, ul.sizes li a {
background-color:white;
}

div#breadcrumb {
margin: 1em 0 0 0;
padding: 0 0 1em 1em;
}

div#content {
/*padding: 1em;*/
}

div#content.notfound,
div#content.login {
margin: 2em 0 2em 5em;
}

div#content div.form form label {
display: block;
margin: 0 0 1em 0;
}

div#content div.item label {
display: block;
margin: 1em 0 1em 0;
}

div#header div.loginbox {
float: right;
margin: 1em 1em 0 0;
}

div.odd {
background: white;
}

div.even {
background: lightgrey;
}
